.page {
  width: 100vw;
  height: 100vh;
  background: url('../../images/login_bg.jpg');
  position: relative;

  .loginModel {
    width: 350px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .input {
      margin: 10px 0;
    }

    .buttons {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .goLogin {
        background-color: #1890ff;
        border: 0;
        border: 1px solid #1890ff;
        outline: none;
        color: #fff;
      }

      .goResgiter {
        background-color: #fff;
        border: 1px solid #1890ff;
        color: #1890ff;
      }
    }
  }
}